{% extends "base.html" %}

{% block content %}
<style>
    main {
        background-image: url({{ url_for('static', filename='images/recipe_creation_background.jpg') }});
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: calc(100% - 3rem);
    }
</style>
<main>
    <h1 class="edit-form-header">Edit Recipe <u>{{recipe_name}}</u></h1>
    <div class="edit-form-container">
        <form action="" method="post" enctype="multipart/form-data" class="edit-form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name() }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.minutes.label }}<br>
                {{ form.minutes() }}<br>
                {% for error in form.minutes.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.skill_level.label }}<br>
                {{ form.skill_level() }}<br>
                {% for error in form.skill_level.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.calories.label }}<br>
                {{ form.calories() }}<br>
                {% for error in form.calories.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description() }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.body.label }}<br>
                {{ form.body() }}<br>
                {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</main>
{% endblock %}